<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="..\static\custom.css">
</head>
<body>
    <div>
        <h1>Bem vindo ao SELOEDU!</h1>
        <p>Faça login para acessar o painel.</p>

        <a href="/" class="login" id="login">Entrar</a>

        </br>

        <p>Escolha uma opção:</p>
        <ul>
            <li><a href="/users">Ver usuários</a></li>
        </ul>   
    </div>

</body>
</html>
